* {
    font-family: 'Inter', sans-serif;
}

body {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #F3F5FC;
}

#alura {
    width: 31.09px;
    height: 48px;

    margin-left: 84px;
    margin-top: 40px;
}

textarea {
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    background: none;
    background-color: transparent;
    outline: none;
    border: none;
}

#infor {
    width: 16px;
    height: 16px;

    position: absolute;
    left: 240px;
    top: 852px;
    
}

#parag {
    
    width: 252px;
    height: 18px;
    margin-left: 240px;
    margin-top: 803px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#saida {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.output-text{
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
    bottom: 397px;

    background-image: url("boneco.png");
    background-repeat: no-repeat;

    text-align: center;
}

.encriptar {
    
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #FFFFFF;

    position: absolute;
    left: 240px;
    top: 885px;
}

.desencriptar {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #0A3871;

    position: absolute;
    left: 592px;
    top: 885px;
}

#copy-button {
    box-sizing: border-box;

    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 328px;
    height: 67px;
    left: 32px;
    top: 845px;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0A3871;    

    flex: none;
    order: 0;
    flex-grow: 1;
}


p {
    position: absolute;
    width: 336px;
    height: 48px;
    margin-top: 693px;
    left: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

footer {
    position: absolute;
    top: 1000px;
    color: #FFFFFF;
    background-color: #0A3871;
    border-style: groove;
    text-align: center;
    width: 100%;
}

